<?xml version="1.0"?>
<configuration>

  <!--<system.diagnostics>
    <trace autoflush="true" />
    <sources>
      <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true">
        <listeners>
          <add name="sdt"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData= "c:\WcfServiceTraceData.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>-->


  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <connectionStrings>
    <add name="CFIEntities" connectionString="metadata=res://*/Models.CFIModel.csdl|res://*/Models.CFIModel.ssdl|res://*/Models.CFIModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=STEVE;initial catalog=CustomFlooring;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <system.serviceModel> 

    <bindings>
      
      <wsHttpBinding>
        <binding name="wsHttpBindingSettings"
                 maxReceivedMessageSize="2147483647"
                 maxBufferPoolSize="2147483647" >

          <readerQuotas maxArrayLength="2147483647"
                          maxBytesPerRead="2147483647"
                          maxDepth="2147483647"
                          maxNameTableCharCount="2147483647"
                          maxStringContentLength="2147483647"   />
        </binding>
      </wsHttpBinding>


        <!--<basicHttpBinding>
          <binding name="basicHttpBindingSettings" 
                   closeTimeout="00:1:00" 
                   openTimeout="00:1:00" 
                   receiveTimeout="00:10:00" 
                   sendTimeout="00:10:00" 
                   bypassProxyOnLocal="false"  
                   hostNameComparisonMode="StrongWildcard" 
                   maxBufferSize="2147483647"   
                   maxBufferPoolSize="2147483647" 
                   maxReceivedMessageSize="2147483647"  
                   messageEncoding="Text" 
                   textEncoding="utf-8" 
                   transferMode="Buffered"        
                   useDefaultWebProxy="true">
            
            <readerQuotas maxDepth="32"        
                          maxStringContentLength="2147483647"            
                          maxArrayLength="2147483647"      
                          maxBytesPerRead="2147483647"   
                          maxNameTableCharCount="2147483647" />   
          </binding>     
        </basicHttpBinding>--> 

    </bindings>

    <services>
      <service name="CFIServices.JobInspection">
        
        <endpoint address="http://localhost:8000/JobInspection" 
                  binding="wsHttpBinding"
                  bindingConfiguration="wsHttpBindingSettings" 
                  contract="CFIServices.IJobInspection" />

        <!--
        <endpoint address="http://localhost:8000/JobInspection" 
                  binding="basicHttpBinding"
                  bindingConfiguration="basicHttpBindingSettings" 
                  contract="CFIServices.IJobInspection" />
        -->
        
        <endpoint address="mex" 
                  binding="mexHttpBinding" 
                  contract="IMetadataExchange" />
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
 
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
</configuration>
