<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CFIEntities" connectionString="metadata=res://*/Models.CFIModel.csdl|res://*/Models.CFIModel.ssdl|res://*/Models.CFIModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=STEVE;initial catalog=CustomFlooring;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>